From: "{{ from_name }}" <{{ from_addr }}>
Reply-to: "{{ from_name }}" <{{ from_addr }}>
To: "{{ display_name }}" <{{ user_email }}>
Subject: Update to your e-Research account keys

Dear {{ display_name }},

Someone (hopefully you!) just updated the {{ service_name }} keys for your e-Research account {{ username }}.
If this was not you, please login to the e-Research Portal to check the keys and consider changing your password.

Kind regards,
KCL e-Research Support
